.tituloContato{
    max-width: 1400px;
    margin: 0 auto;
  
    color: green;
    font-weight: 400;
    font-size: 32px;
    padding-top: 50px;
}

.Formulario{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
 
}
@media (max-width: 1150px){
    .Formulario{
        flex-wrap: wrap;
    }
}

.inputsNomeSobrenome p{
    color: #4F5FA8;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-left: 10px;
}
.inputs_contato{
    border-radius: 30px;
    border: none;
    background: rgba(196, 196, 196, 24%);
    font-size: 20px;
    padding-left: 10px;
    margin: 15px 10px;
    width: 295px;
    height: 50px;
    color: black;
    border: 1px solid green !important;
}
@media (max-width: 640px){
    .input-1{
        width: 100%;
    }
    .inputs_contato{
        width: 96%;
    }
}
.contatologo{
    margin-top: 30px;
}

.formInputs{
   flex: 1 1 600px;

}
.btn{
    width: 530px;
    display: flex;
    justify-content: flex-end;
}
.btnstyles{
    margin-top: 10px;
    max-width: 52px;
    
}
.flex-input{
    display: flex;
}

textarea{
    border: none;
    border-radius: 30px;
    height: 10px;
    background: rgba(196, 196, 196, 24%);
    padding-left: 15px;
    padding-right: 10px;
    width: 610px ;
    height: 100px;
    margin-left: 10px;
    font-size: 18px;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 400;
    border: 1px solid green !important;
    
}

.contatoinfo{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    flex-wrap: wrap;
}
.tituloC {
    width: 250px;
    font-size: 30px;
    font-weight: 600;
    color: #4F5FA8;
    margin-bottom: 10px;
    margin-top: 30px;
}

.emailContato{
    background-image: url('../img/34px.png');
    background-repeat: no-repeat;
    padding-left: 40px;  /* width of the image plus a little extra padding */
    display: block;  /* may not need this, but I've found I do */
    width: 250px;
    height: 35px;
    text-decoration: none;
    color: #4B9543;
    font-size: 22px;
    margin: 10px 0px;
   
}
.telefoneContato{
    background-image: url('../img/phone.png');
    background-repeat: no-repeat;
    padding-left: 40px;  /* width of the image plus a little extra padding */
    display: block;  /* may not need this, but I've found I do */
    width: 250px;
    height: 35px;
    text-decoration: none;
    color: #4B9543;
    font-size: 22px;
    margin: 10px 0px;
   
}
.contato-margin{
    padding-bottom: 100px;
    background: #cecece5b;
}

.criador{
    width: 100%;
    background: #4F5FA8;
    height: 20px;
    
}
@media (max-width: 640px){
    .flex-input{
        flex-wrap: wrap;
    }
}
@media (max-width:320px){
    .contatoinfo{
        width: 200px;
    }
    .emailContato{
        word-wrap: break-word;
        width: 250px;
    }
    .telefoneContato {
        width: 200px;
    }
}
@media (max-width: 1620px){
    .tituloContato p {
        margin-left: 10px;
    }
}

@media (max-width: 1205px){
    .Formulario{
        justify-content: center;
    }
    .formInputs{
        flex: none;
     
     }
     .contatologo{
         margin: 10px;
     }
}

@media (max-width: 639px){
    .formInputs{
        flex: 1 1 600px;
     
     }
     textarea{
        width: 97%;
     }
     .btn{
        width: 100%;
    }
    .btnstyles{
        margin-top: 10px;
        max-width: none;
        
    }
    .contatoinfo{
        flex-wrap: wrap;
    }
    .emailContato{
       font-size: 18px !important;
       margin-left: 5px !important;
       margin-right: 5px !important;
       padding-left: 35px; 
       width: 100% !important;
    }
    .telefoneContato{
        font-size: 18px;
        margin-left: 5px !important;
        margin-right: 5px !important;
        padding-left: 35px; 
        width: 100% !important;
    }
    .tituloC {
        width: 100%;
        font-size: 30px;
        font-weight: 600;
        color: #4F5FA8;
        margin-bottom: 10px;
        margin-top: 30px;
     
    }
    .contatoinfo{
        text-align: start;
    }
    
}