.modulos{
    background: #F8F8F8;
}

.parte-1{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid green;
    padding: 20px 0px;
}

.parte-3 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.column-m1{
    display: flex;
    flex-direction: column;  
}

.column-m1 p{
    font-size: 18px;
}
.column-m2{
   align-self: center;
   justify-self: center;
}
.svg-verifi{
    max-width: 4%;
    margin: 0 5px;
}

.ok{
    background-image: url('../img/ok.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom: 5px;  /* width of the image plus a little extra padding */
    display: block;  /* may not need this, but I've found I do */
}

.faturamento {
    text-align: center;
    font-weight: 500;
    color: #4F5FA8;
    margin: 20px 0;
}

.titulo_modulo{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
   
}
.tituloM{
    font-weight: 400;
    color: #4F5FA8;
    font-size: 26px;
}


@media (max-width: 1070px){
    .column-m2{
        order: -1;
    }
    .parte-1{
        justify-content: center;
    }
    .parte-3{
        justify-content: center;
    }
}
