.ani-one{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.precos{
   background: white;

}

.column-precos{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 50px;

}



.preco-1{
    text-align: center;
    background: #4F5FA8;

    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.tituloP{
    text-align: center;
    color: #00ffdd;
    padding: 30px 30px;
    font-size: 30px;
    font-weight: 600;
    font-size: 45;
}

.preco-1 span{
    font-size: 100px !important;
    color: #00ffdd;
}
.preco-2{
    text-align: center;
    background: #4F5FA8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.preco-vlr{
    font-size: 20px;
    color: white;
    font-weight: 400;
    padding: 50px 0px;
}

.preco-2 span{
    font-size: 100px !important;
    color: #00ffdd;
}



.precos-flex-1{
    margin: 5px 5px;
    width: 400px;
}

.TP{
    margin-bottom: 50px !important
}

.preco-ds{
    margin: 20px 5px;
    font-size: 20px;
    background-image: url('../img/check.png');
    background-repeat: no-repeat;
    padding-left: 40px;  /* width of the image plus a little extra padding */
    display: block;  /* may not need this, but I've found I do */

}


.btn-grad-principaisF {background-image: linear-gradient(to right, #00ffdd 0%,  #00ffdd  51%, #4F5FA8  100%)}
.btn-grad-principaisF{
   height: 50%;
   width: 50%;
   text-align: center;
   border-radius: 15px;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;      
   font-weight: 600;      
   border: none;
   display: block;
 }

 .btn-grad-principaisF:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.btn-grad {background-image: linear-gradient(to right, #00ffdd 0%,  #00ffdd  51%, #4F5FA8  100%)}
.btn-grad {
   height: 40px;
   width: 100%;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;      
   font-weight: 600;      
   border: none;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }




@media (max-width: 600px){
    .tituloP{
        padding: 5% 10%;
    }
    
}