
.vantagens{
    background:#cecece5b;
}
.sistemas{
    background:#cecece5b;
}
.sistemas-2{
     background:#cecece5b;
}


.tituloS{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: green;
    font-weight: 400;
    font-size: 26px;
    padding-top: 50px;
    word-wrap: break-word;
   
}
.border-top-green{
    border-top: 2px solid green;
}
.descricaoS{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
}

.contem{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.env{
    padding: 10px 40px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    background: #4B9543;
    cursor: pointer;
}
.descricaoS p{
    color: black;
    font-size: 19.5px;
}

.column-S{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}

.colunaS{
    border-radius: 5px;
    color: white;
    margin: 60px 10px;
    background: #4F5FA8;
    vertical-align: middle;
    width:  400px;

}

@media (max-width: 1300){
    .column-S{
        justify-content: space-around;
    }
}
@media (max-width: 978px){
    .column-S{
        flex-wrap: wrap;
    }
}
.colunaS h2{
    margin: 20px 0px;
    color: #00FF29;
    text-align: center;
}
.colunaS p{
    margin: 8px 5px;
    font-size: 18px;
}

.center{
    max-width: 80%;
    margin: 0 auto;
}
.center2{
    max-width: 80%;
    margin: 0 auto;
}
.center_certificado{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}


.fim{
    margin-bottom: 20px !important;
}
.white{
    background: white;
}

.colunaS img{
   
  
    border-radius: 10px;
    max-width: 150px;
    margin: 0 auto;
}

.image_sistema{
    margin-top: 20px !important;
}

@media (max-width: 1109){
    .center2{
        max-width: 40% !important;
        
    }
}

@media (max-width: 1102px){
    .descricaoS p{
        margin: 0px 10px;
    }
}

@media (max-width: 1259px){
    .column-S{
        justify-content: space-around;
    }
}