.titulo-solucoes{
    max-width: 1300px;
    margin: 0 auto;
}
.descricao_titulo{
    max-width: 1180px;
    margin: 0 auto;
    padding: 40px 0px 10px 0px;
}
.descricao_paragrafo{
    max-width: 1100px;
    margin: 0 auto;
    font-size: 22px !important;
}


/* titulo descricaçao */
.tituloD{
    font-size: 24px;
    font-weight: 400;
    color: #4B9543;
    margin: 0px 5px;
}



/* colunas */
.solucoes-colunas{
    display: flex;
    max-width: 1200px;
    margin-top: 45px !important;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.svg-solucoes{
    max-width: 22px !important;
    display: block;
}
.coluna-2{
    display: flex;
    flex-direction: column;
    font: 18px;
    width: 320px;
    flex-wrap: wrap;
}
.coluna-3{
   
    flex-wrap: wrap;
}
@media(max-width: 1000px){
    .solucoes-colunas{
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .coluna-2{
        width: 500px;
    }
}
@media (max-width: 1199px){
    .descricao_paragrafo{
        padding-left: 10px;
        padding-right: 10px;
    }
    .create{
        margin-left: 05px;
    }
}

@media (max-width: 800px ){
    .solucoes-colunas{
    justify-content: center;
    }
}
