body, h1, h2, p, ul, li, a{
    margin: 0;
    padding: 0;
    font-family: "Roboto", Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
a:link{
    text-decoration: none !important;
}




.inicio-sct{
    
    background-image: url(../img/wallpaper.jpg) ;
    
}
/* info */


/* navbar */
.size{
    max-width: 100%;
    margin: 0 10px;
}

.navbar{
    margin: 0 auto;
   
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 4px;
    align-content: flex-end;
    flex-wrap: wrap;

}

ul{
    list-style: none;
}
.menu{
    align-self: center;
}
.menu ul{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}

.menu a{
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #4F5FA8;
}
.menu a:hoveR{
    color: #4B9543;
}

.color-a-enter{
    background: #4F5FA8;
    border-radius: 3px;
    padding: 5px 50px !important;
    color: white !important;
}
.color-a-enter:hover{
    background: #4B9543;
}


/* Section inicio */




img{
    display: block;
    max-width: 100%;
}
.logo-section{
    justify-self: center;
    margin-bottom: 100px;
}


@media (max-width: 1195px){
 
    .inicio{
        justify-content: space-around;
    }
  
}

@media (max-width: 930px){
    .inicio{
        flex-wrap: wrap;
        justify-content: center !important;
        text-align: center;
        padding-top: 100px;
    }
    .homem{
        order: -1;
    }
}



/* Toggle Button */
.mobile{
    display: none;
}

  .topnav {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color:  #4F5FA8;
    font-weight: bold;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .color-hover:hover{
    background:  #4F5FA8;
    color: white;
  }
  .active {
 
    color: blue;
  }
  .size-mobile{
        max-width: 150px !important;
  }

  .hamburguer{
      margin-bottom: 20px;
  }

  /* media query navbar mobile */

  @media (max-width: 1041px){
      .mobile{
          display: block;
      }
  }
  @media (max-width: 1041px){
    .desk{
        display: none;
    }
}
.img{
    width: 800px;
    margin: 10px 10px;
}

.azulbg{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #4F5FA8 ;
    font-weight: 400;
    font-size: 35px;
    padding-top: 50px;
    word-wrap: break-word;
    padding-bottom: 50px;
   
}
.solucoes{
    background:#cecece5b;
    padding-bottom: 45px;
}

.wp{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 120px;
    right: 20px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
.home{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #4F5FA8;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
.fa-whatsapp{
    margin-top: 11px;
}

.fa-arrow-up{
    margin-top: 16px;
    color: #00ffdd
}

@media (max-width: 1030px){
    .wp{
        top: 160px;
    }
}

@media (max-width: 473px){
    .wp{
        top: 180px
    }
}