.flex-cloud{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    

}

.icon-flex-utils{
    display: flex;
}
.icon-flex-utils i{
    font-size: 40px;
    color: #4F5FA8;
}
.icon-flex-utils h2{
    font-size: 35px;
    color: #17A2B8;
    font-weight: 400;
}
.container-utils{
    width: 400px;
    margin: 20px 5px;
}

.utilidade-bg{
    background: #EDF2F7 !important;
    padding: 40px 0;
}

@media (max-width: 1000px){
    .flex-cloud{
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media (max-width: 300px){
    .flex-cloud{
        justify-content: flex-start;
    }
    .container-utils{
        margin: 15px 15px;
    }
}
.texto-division{

    text-align: center;
    background:  #4F5FA8;
    font-weight: 400;
    font-size: 32px;
    padding-top: 50px;
    word-wrap: break-word;
    color: white ;
    padding-bottom: 50px;
   
}