.flex-desc-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  
}

.sistemas-galeria{
  max-width: 1100px;
  margin: 0 auto
}
.desc-gestor{
  max-width: 500px;
}

.fa-arrow-right{
  font-size: 25px;
  color: blue;
}

.fa-arrow-left{
  font-size: 25px;
  color: blue;
}

.carousel{
  width: 60%;
}

@media (max-width: 1100px){
  .flex-desc-slide{
    flex-wrap: wrap;
  }
  .carousel{
    width: 80%;
  }

}

@media (max-width: 400px){
  .flex-desc-slide{
    flex-wrap: wrap;
  }
  .carousel{
    width: 100%;
    height: 100%;
  }
}